@font-face {
    font-family: 'ralewaythin';
    src: url('/font/raleway/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('/font/raleway/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{font-family:ralewaythin,serif;}

header

{display: flex;
justify-content: space-between;
padding-top:45px;
padding-bottom: 45px;}

nav
{width:33%;
}

header ul

{display:flex;
list-style-type: none;
justify-content: space-between;
}

